.headerMobile {
  display: flex;
  background-color: #da1b2b;
  height: 7vh;
  color: #ffffff;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.button {
  margin-right: 5vw;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 10px;
  padding: 1vw;
  white-space: nowrap;
}

.button:hover {
  color: #da1b2b;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  background-color: white;
  cursor: pointer;
}

.headerDesktop {
  font-weight: 500 !important;
  display: none;
}
.headerButtons {
  margin-left: 5vw;
  width: 50vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userMenu {
  height: 10vh;
  display: flex;
  align-items: center;
  position: absolute;
  right: 2vw;
  transition: 0.5s;
  border-radius: 10px;
  padding: 1vw;
}
.img img {
  margin-left: 50%;
  transform: translateX(-50%);
}
.userMenu:hover {
  color: #da1b2b;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  background-color: white;
  cursor: pointer;
}
.imagemUser {
  background-color: #da1b2b;
  border-radius: 100px;
}
.newButton {
  display: flex;
  color: #ffffff;
  transform: scale(1.4);
}
.newButton:hover {
  color: #da1b2b;
}

@media screen and (max-width: 950px) {
  .button {
    white-space: pre-wrap;
  }
}
@media screen and (min-width: 700px) {
  .headerDesktop {
    display: flex;
    align-items: center;
    background-color: #da1b2b;
    height: 12vh;
    color: #ffffff;
    font-size: 2rem;
  }
  .headerMobile {
    display: none;
  }
}

@media screen and (min-width: 800px) and (max-width: 1366px) {
  .headerButtons {
    margin-left: 5vw;
    width: 50vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .userMenu {
    height: 7vh;
    display: flex;
    align-items: center;
    position: absolute;
    right: 2vw;
  }

  .headerDesktop {
    display: flex;
    background-color: #da1b2b;
    height: 7vh;
    color: #ffffff;
    font-size: 1.5rem;
  }
  .headerMobile {
    display: none;
  }
}
